.container {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
    align-items: center;
}

.logoButton {
  border: none;
  background-color: #FFFFFF;
}



.leftContainer,
.rightContainer {
  display: flex;
  align-items: center;
}

.leftContainer > * {
  margin-left: 2rem;
}

.rightContainer > * {
  margin: 1rem;
}

.avatar {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}
