.container {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.logoButton {
  border: none;
  background-color: #FFFFFF;
}

.rightContainer {
  display: flex;
  align-items: center;
}

.rightContainer > * {
  margin: 1rem;
}